# Test files
test_libft.c

# Documentation
CLAUDE.md
GEMINI.md

# Subject PDF
en.subject.pdf
GNL/filename.txt
GNL/filename1.txt

# norm
.normignore

.python-version
test.c
ft_printf/main.c

pythonModules/module04/test_10gb.txt
